.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  cursor: pointer;
  will-change: transform, width, height, opacity;
}

.item-wrapper > .item-img {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}
